body {
  font-family: 'BentonSans-Book', sans-serif;
  font-size: 1.025em;
  font-weight: 100;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: black;
  text-align: left;
}

.container {
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, a, em, strong {
  color: black;
}

h1, h2, h3 {
  width: 100%;
}

.container h1 {
  font-family: 'MajeritBanner', serif;
  text-align: center;
  font-size: 4em;
  max-width: 600px;
  font-style: normal;
  font-weight: 100;
  margin-bottom: 20px;
  color: black;
}

.container h2 {
  font-family: 'BentonSans-Book', sans-serif;
  text-align: center;
  font-size: 0.976em;
  font-style: normal;
  font-weight: 100;
  margin-bottom: 15px;
  color: black;
}

.container h3 {
  font-family: 'BentonSans-Bold', sans-serif;
  font-size: 1.376em;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
  color: black;
}

a {
  font-family: 'BentonSans-Bold', sans-serif;
  color: black;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  font-weight: bold;
}

a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-style: dotted;
}

em {
  font-family: 'BentonSans-RegularItalic', sans-serif;
  font-style: italic;
  color: black;
}

strong {
  font-family: 'BentonSans-Bold', sans-serif;
  font-weight: bold;
  color: black;
}

.paragraph-image {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.header-img {
  width: 100vw;  /* Makes the image span the entire width of the viewport */ /* vw means viewport width */
  height: auto;
  display: block;  /* Ensures no extra space around the image */
  margin: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

li::before {
  content: "- ";
}

li {
  margin-bottom: 10px;
  display: inline-block;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.footer-img {
  width: 100%;  
  height: auto; 
  display: block; 
  margin: 0 auto; 
  max-width: 600px; 
}
