@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.navbar {
    background-color: #f8f9fa;
    width: 100%;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1030;
}

body {
    padding-top: 120px;
    font-family: 'Poppins', 'Helvetica Neue', Arial, sans-serif;
}

.navbar-brand img {
    max-height: 100px;
}

.navbar .nav-link {
    color: #000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-right: 15px;
}

.navbar .nav-link.active {
    font-weight: 600;
}

.navbar .nav-link:hover {
    color: #555;
}

.navbar-toggler {
    border: none;
    margin-left: auto;
}

.text-container {
    max-width: 33%;
    padding: 15px; 
}

@media (max-width: 768px) {
    .text-container {
        max-width: 90%;
    }
}

.responsive-img {
    max-height: 300px;
    width: 100%;
}

.inverted-img {
    transform: scaleX(-1);
}

form {
    background-color: #f8f9fa;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 0 auto;
}

@media (max-width: 576px) {
    form {
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .form-control {
        font-size: 14px;
    }

    .form-label {
        font-size: 14px; 
    }

    button {
        font-size: 14px;
    }
}

.footer {
    background-color: #ffffff; /* White background */
    width: 100%; /* Full width */
    padding: 10px 0; /* Vertical padding */
    color: #000; /* Black text color */
    font-size: 14px; /* Adjust font size as needed */
    text-align: center; /* Center-align the text */
}